[user]
	name = Jorj Xenos
	email = jxenos@earthcam.com
[alias]
	s = status --short --branch
	sa = diff --name-only --cached
	l = log --pretty=oneline --decorate --abbrev-commit
	x = checkout
	b = branch
	a = add
	c = commit
	r = reset HEAD

[core]
	preloadindex = true
	fscache = true

